/* global */

* {
  margin: 0;
  padding: 0;
  outline: 0;
}
ol,
ul {
  list-style: none;
}

/* header */
#header {
  display: flex;
  justify-content: space-around;
  padding-block: 1vh;
  background-color: rgb(237, 117, 6);
}

.logo > a {
  display: flex;
}

.logo > a > h1 {
  margin-inline: 1vw;
  color: black;
}

#dropdownMenuLink {
  color: black;
}

/* Footer */

#footer {
  position: fixed;
  bottom: 0;
  background-color: rgb(237, 117, 6);
  width: 100%;
  text-align: center;
  padding-top: 1vh;
}

/* page login */
.title-login {
  margin-top: 20vh;
  width: 30%;
  margin-inline: auto;
}
.form-group-login {
  width: 30%;
  margin-inline: auto;
}

.form-check-login {
  width: 30%;
  margin: 0 auto 0px auto;
}

.button-login {
  width: 30%;
  margin-inline: auto;
}

/* page register */
.title-register {
  text-align: center;
  margin-top: 2vh;
}
.form-register {
  padding: 5%;
}
